* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    font-size: 14px;
    color: rgb(0, 0, 0);
}
.bg-img{
    background: url("tgsimg.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.bg-img:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.174);
}
.content{
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    text-align: center;
    padding: 60px 32px;
    width: 370px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.133);
    border: 1px solid #fff;
    backdrop-filter: blur(2px);
    box-shadow: 0 0 6px 9 rgba(255, 255, 255, 0.203);
}
.content header{
    color: rgb(0, 0, 0);
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.field{
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.94);
}
.field span{
    color: #222;
    width: 40px;
    line-height: 45px;
}
.field input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.space {
    margin-top: 16px;
}
.show{
    position: absolute;
    right: 13px;
    font-size: 8px;
    font-weight: 700;
    color: #222;
    display: none;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.pass-key:valid ~ .show{
    display: block;
}
.pass{
    text-align: left;
    margin: 10px 0;
}
.pass a{
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pass:hover a{
    text-decoration: underline;
}
.field input[type="submit"]{
    background: #084f7e;
    border: 1px solid #9daab3;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.3s ease;
}
.field input[type="submit"]:hover{
    background: #035f7af5;
}
.login{
    color: white;
    margin: 20px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
i span{
    margin-left: 8px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  